/*
Theme Name:        Floodplain Collective Theme
Description:       Custom theme for Floodplain Collective. A child theme for Shoestrap 3.
Template:          shoestrap-3
Author:            JP Obley
Author URI:        http://www.jpobley.com
GitHub Theme URI:  https://github.com/jpobley/floodplain
Version:           1.0.0
License:           GNU General Public License v2.0
License URI:       http://www.gnu.org/licenses/gpl-2.0.html
*/
